.follow-btn{
    background-color: var(--header-footer-color);
    height: 1.5em;

    border: none;
    border-radius: 10px;
    padding-left: 12px;
    padding-right: 12px;
    display: inline-block;
    text-decoration: none;
    text-align: right;
    font-size: 1em;
    cursor:pointer;
    color: var(--on-top-color);
    
}

.follow-btn:hover{
    background-color: var(--on-top-color);
    border-radius: 10px;
    color: var(--header-footer-color);
    
}

.fu-follow{
 
    text-align: right;
    padding: 0;
}

button.follow-btn-big {
  background-color: var(--header-footer-color); 
  color: white;
  border: none;
  border-radius: 10px;
  padding: 14px 16px;
  display: inline-block;
  text-decoration: none;
  text-align: right;
  font-size: 1em;
  cursor:pointer;
  color: var(--on-top-color)
}

.follow-btn-big:hover {
  background-color: var(--on-top-color);
  border-radius: 10px;
  cursor:pointer;
  color: var(--header-footer-color)
}