.header-wrapper {
    
    display: grid;
    width: 100%;
    grid-template-columns: 140px auto 180px;
    align-items: start;
    justify-content: space-between;
    z-index: 2001;
    position:absolute;
}
.header-logo{
    width: 70px;
}
.header-logo a{
    color: var(--on-top-color);
}





.header-search-wrapper {
    width: 320px;
}
input.header-search-text, input.header-search-btn{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  height: 40px;
  padding: 8px;
  font-size: 12px;
}
.header-search{
    display: grid;
    width: 320px;
    grid-template-columns: 280px 40px;
    align-items: center;
    justify-content: space-between;

}
input.header-search-text {
  background-color: #dbdbdb;
  width: 280px;
  border-radius: 10px 0px 0px 10px;
}

input.header-search-btn {
  height:40px;
  width: 40px;
  background-color: var(--on-top-color); 
  border: none;

  padding: 8px;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: var(--header-footer-color);
    border-radius: 0px 10px 10px 0px;
}

input.header-search-btn:hover {
   color: var(--on-top-color);
   background-color: grey;
}

.header-settings{
    margin: 0;
    padding: 0;
    
    position: relative;
    display: inline-block;
    
}

.header-setting-btn, .header-notification-btn, .header-search-btn{
    background-color: var(--header-footer-color);
    border: none;
    padding: 0px;
    cursor: pointer; 
    height:45px;
    font-size: 45px;
}

.header-settings-content{
  display: none;
  position: absolute;
  background-color: var(--header-footer-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 8px;
  padding: 16px 16px;
  right: 0;
  z-index: 1;
}

.header-notification-content{
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--header-footer-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-top: 8px;
  padding: 16px 16px;
  z-index: 2002;
}
.header-mobile-search-input{
    width: 100%;
}

.header-wrapper-right{
    display: grid;
    
    grid-template-columns: 45px 45px 45px 45px;
    align-items: start;
    justify-content: space-between;
    position: relative;
    
    width: 180px;



    padding: 0px;
    margin: 0px;
 
}

.header-home{
    margin: 0px;
    padding: 0px;
    width:45px;

}

.header-home-pic{
    margin: 0px;
    padding: 0px;
    height: 45px;
    width:45px;
}

.header-login-button{
    justify-self: end;
    
}
.header-login-btn{
  height:35px;
  width: 80px;
  
  background-color: var(--on-top-color); 
  border: none;
  text-decoration: none;
  text-align: center;
  font-size: 1em;
  color: var(--header-footer-color);
  border-radius: 10px;
  justify-self: end;
}

.header-login-btn:hover{
   color: var(--on-top-color);
   background-color: grey;
}

.material-icons.on-top { 
    color: var(--on-top-color); 
    font-size: 40px;
}

.header-notification{
    width: 45px;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.material-icons.inactive { 
    color: darkslategray; 
    font-size: 40px;
}



.header-search-icon {
    display: none;
}
.header-mobile-search{
    display: none;
}

@media screen and (max-width: 600px){
    .header-search-wrapper {display: none;}
    .header-search-icon {display: block;}
    
}
